
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 83vh;
    background-color: #f3f4f6;
  }
  
  .auth-box {
    width: 100%;
    max-width: 430px;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    color: #333;
  }
  
  .auth-error {
    color: #e53e3e;
    font-size: 14px;
    text-align: center;
    margin-bottom: 12px;
  }
  
  .auth-form label {
    display: block;
    font-size: 14px;
    color: #555;
    margin-bottom: 8px;
  }
  
  .auth-form input {
    width: 380px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 16px;
  }
  
  .auth-form input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.2);
  }
  
  .auth-btn {
    width: 98%;
    background: #2563eb;
    color: #fff;
    padding: 12px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .auth-btn:hover {
    background: #1c4ac8;
  }
  
  .auth-footer {
    font-size: 14px;
    text-align: center;
    margin-top: 12px;
    color: #555;
  }
  
  .auth-footer a {
    color: #2563eb;
    text-decoration: none;
    transition: color 0.3s;
    transition: background 03s ease;
    transition: 0.3s ease
  }
  
  .auth-footer a:hover {
    color: #1c4ac8;;
  }
  